*{
    padding: 0;
    margin: 0;
    font-size: 20px;
}

#one{
    /* width: 200px; */
    /* height: 200px; */
    background-color: aqua;
    padding: 5px;
    font-size: 25px;
    /* viewport height */
    height: 70vh;
    /* viewport width */
    width: 90vw;

}
#sec{
    background-color: blue;
    /*  65% of parent width */
    width: 65%;
    /*  30% of parent height */
    height: 30%;
    padding: 20px;
    /*    em   (font size relative to the parent font */
    /* font-size: 0.5em; */
    /* font-size: 2em; */
    /* rem  (font size relative to the root element font size */
    /* font-size: 0.75rem; */
    font-size: 2rem;
    

}